{
    "extends": [
      "eslint:recommended",
      "prettier"
    ],
    "env": {
      "node": true,
      "mocha": true,
      "es6": true
    },
    "plugins": [
      "prettier"
    ],
    "rules": {
      "prettier/prettier": ["error", {"singleQuote": true}]
    }
  }
  